image: docker:stable

cache:
  paths:
    - node_modules/

stages:
  - open_mr
  - preparation
  - test
  - close_mr
  - release
  - cleaning

open_mr_dependabot:
  image: node:10.13-alpine
  stage: open_mr
  tags:
    - docker
  only:
    - /^dependabot.*$/
  script:
    - apk add --no-cache bash python3 curl git
    - HOST=$CI_PROJECT_URL
      CI_PROJECT_ID=$CI_PROJECT_ID
      CI_COMMIT_REF_NAME=$CI_COMMIT_REF_NAME
      GITLAB_USER_ID=$GITLAB_USER_ID
      PRIVATE_TOKEN=$GITLAB_TOKEN
      ./utils/open_mr_dependabot.sh

close_mr_dependabot:
  image: node:10.13-alpine
  stage: close_mr
  tags:
    - docker
  only:
    - /^dependabot.*$/
  script:
    - apk add --no-cache bash python3 curl
    - HOST=$CI_PROJECT_URL
      CI_PROJECT_ID=$CI_PROJECT_ID
      CI_PROJECT_NAME=$CI_PROJECT_NAME
      CI_COMMIT_REF_NAME=$CI_COMMIT_REF_NAME
      CI_COMMIT_SHA=$CI_COMMIT_SHA
      GITHUB_OWNER="ravecat"
      GITLAB_USER_ID=$GITLAB_USER_ID
      PRIVATE_TOKEN=$GITLAB_TOKEN
      GITHUB_TOKEN=$GITHUB_REPO_TOKEN
      ./utils/close_mr_dependabot.sh

build_deps:
  image: node:10.13-alpine
  stage: preparation
  artifacts:
    paths:
      - node_modules/
    expire_in: 1h
  tags:
    - docker
  dependencies: []
  script:
    - yarn

test_module:
  stage: test
  tags:
    - docker
  dependencies: []
  script:
    - docker build . -t selector-test-generator
    - docker run --rm selector-test-generator

test_lint:
  image: node:10.13-alpine
  stage: test
  tags:
    - docker
  dependencies:
    - build_deps
  script:
    - yarn lint
    - yarn prettier

test_build:
  image: node:10.13-alpine
  stage: test
  tags:
    - docker
  dependencies:
    - build_deps
  script:
    - yarn build

release:
  image: node:10.13-alpine
  stage: release
  tags:
    - docker
  only:
    - master
  dependencies:
    - build_deps
  script:
    - apk add --no-cache git
    - yarn build
    - echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
    - GITLAB_TOKEN=$GITLAB_TOKEN yarn semantic-release

cleaning:
  stage: cleaning
  tags:
    - docker
  script:
    - docker info
    - docker system prune -af
